<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="/static/css/jquery-ui.min.css" rel="stylesheet"> -->
</head>

<body>

    <header>
        <!-- <img src="/static/images/SynopserLogo.png" alt="Logo"
            class="object-contain w-16 self-center md:self-left md:w-30"> -->
        <!-- <div class="self-center text-white">Summary Generator</div> -->
        <h1>Summary Generator</h1>
    </header>
    <div class="instruction-line">
        Please input the text you want to Summarize, select the desired length, and click the "Submit" button to proceed.</div> 
	<div> 

    <section class="flex">
        <div class="w-full">
            <form class="w-full" action="{{url_for('Summarize')}}" method="post">
                <textarea class="w-11/12 md:h-3/4 m-2 p-2 border-black rounded-lg border self-center justify-center"
                    name="data" id="data" cols="30" rows="10" placeholder="Enter your text"
                    required="required"></textarea>
                <div class="summary-length">
                    <h3>Summary Length:</h3>
                    <input type="range" class="input-length" min="20" max="1000" name="maxL">
                </div>
                <div class="flex self-center">
                    <button class="m-1 bg-green-500 hover:bg-blue-700 text-white font-semi-bold py-2 px-4 rounded-lg"
                        type="submit" onclick="Check()">Submit</button>
                    <button class="m-1 bg-red-500 hover:bg-blue-700 text-white font-semi-bold py-2 px-4 rounded-lg"
                        type="reset">Clear</button>
                </div>
            </form>
        </div>
        
        <div class="result-sec">
            <div class="result-sec">
                <textarea
                    class="result-sec" rows="10"
                    cols="30" name="result" readonly placeholder="Your Summary">{{result}}</textarea>

                <button class="btn" onclick="myFunction()">Copy text</button>
            </div>
        </div>
    </section>
    <script>
        function myFunction() {
            /* Get the text field */
            var copyText = document.getElementById("result");

            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999);

            /* Copy the text inside the text field */
            navigator.clipboard.writeText(copyText.value);
        }
    </script>
    <script>
        function Check() {

            var reg = /<(.|\n)*>/g;

            if (reg.test(document.getElementById("data").value) == true) {
                var ErrorText = 'Make Sure You Provide Valid Data.';
                alert('Error Text');

            }
        }
    </script>
</body>

</html>